[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
requests = "*"
pytz = "*"
pre-commit = "*"
pylint = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "bash ./run_tests.sh"
